/* Preloader

#preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#preloader .preloaderSpan {
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1;
    mix-blend-mode: difference;
}
#preloader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: white;
    animation: move 4s linear infinite alternate;
}
@keyframes move {
    0%, 100% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
} */

.preloader {
    background: #000 url(Image/preloader.gif) no-repeat center center;
    background-size: 15%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999999999999;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}