.invert {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* .disappear {
    animation: vanish 1s forwards;
    -webkit-animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
} */

.disappear {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.loader span {
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1;
    mix-blend-mode: difference;
    font-family: "Cairo", sans-serif;
}

.loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: white;
    animation: move 4s linear infinite alternate;
}

@keyframes move {

    0%,
    100% {
        left: 0;
    }

    50% {
        left: calc(100% - 100px);
    }
}
